<div class="ui grid" *ngIf="book">
  <div class="four wide column">
      <img class="ui large image" [src]="book?.picture">
    </div>  
  <div class="eight wide column">
      <h1 class="ui header">{{ book?.title }}</h1>
      <h3 class="ui header">{{ book?.author }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
      <div class="four wide column">
          <h4 class="ui header">Preis</h4>
          {{ book?.prize }}
      </div>
      <div class="four wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ book?.year }}
      </div>
      </div>
  </div>
  <div class="sixteen wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ book?.abstrazt }}
  </div>
</div>
<button (click)="showBookList()" class="ui red button">Zurück zur Buchliste</button>